# Interaction
click
jupyter
ipython
ipykernel
python-dotenv

# Data Ingestion
pandas
requests
yfinance
alpha_vantage

# Database	
## PostgreSQL
SQLAlchemy
psycopg2
## AWS RDS
boto3

# Feature Engineering	
pandas
NumPy

# ML Models (MVP)	
Scikit-learn
XGBoost

# ML Models (Upgrade)	
TensorFlow
Keras

# Visualization
Matplotlib
Seaborn
Plotly
Dash
ridgeplot

# Deployment	
AWS
S3
Lambda

# Web Interface	
Flask
Django