# Interaction
click
asyncio
nest_asyncio
aiohttp
datetime
jupyter
ipython
ipykernel
python-dotenv

# Data Ingestion
pandas
requests
yfinance
alpha_vantage
BeautifulSoup4
pdfplumber


# Feature Engineering	
pandas
NumPy

# Web Interface	
Flask
Django